h3{
    font-size: 30px !important;
}
.btn-success:hover 
{
    background-color: red;
}

canvas
{
    animation-name : AnimatedGlow;
    animation-duration : 3.5s;
    animation-iteration-count: infinite;
}
@keyframes AnimatedGlow {
    from {box-shadow: 1px 1px 58px 1px rgba(100, 255, 130, 1)}
    to {box-shadow: 1px 1px 58px 3px rgba(3, 252, 211, 1);}
}